body {
	background-color: #001848;
}

h1 {
	font-family: "Courier New", serif; 
	color: #906090;
	text-align: center; 
	font-weight: bold; 
}

p {
	font-family: "Tahoma", sans-serif;
	color: white; 
}