@import url('https://fonts.googleapis.com/css?family=Sanchez');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
	background-color: #001848;
	padding-right: 50px; 
	padding-top: 25px;
	padding-left: 50px;
	padding-bottom: 50px;
	margin-right: 50px;
}

h1 {
	font-family: 'Sanchez', serif; 
	color: #b894b8;
	text-align: center; 
	font-weight: bold; 
	font-size: 40px; 
	text-shadow: 0px 0px 5px #906090;
}

h5 {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	text-shadow: none;  
	font-weight: normal; 
	font-style:italic;
	color: #906090;
}

p {
	font-family: 'Quicksand', sans-serif;
	color: white; 
	font-weight: bold;
	font-size: 20px; 
	text-shadow: 0px 0px 4px #eee;
}

select {
	display:inline-block;
	padding: 5px;
	border-radius: 5px;
	border: none;
	font-family: 'Quicksand', sans-serif;
	font-size: 26px;
	color:white;
	background-color: #002266;
	
}

select:hover {
	transition: 0.5s;
	box-shadow: 0px 0px 5px white;
}

select:not(:hover) {
	transition: 0.5s;
}

p#times {
	box-shadow: 0px 0px 5px #001133;
}

div#sleepTimes {
	background-color:black;
	display:none;
}

div#wakeTimes {
	background-color:red;
	display:none;
}

div#timeSelection {
	display:none;
	margin-top: 40px;
	margin-bottom: 40px;
	transition: 0.5s;
}

div#output {
	display:none;
	margin-top: 40px;
	margin-bottom: 40px;
}

.block {
	margin-top: 40px;
	margin-bottom: 40px;
}

.output {
	display:none; 
	text-align:right;
	margin-top: 40px;
	margin-bottom: 40px;
}

.caption {
	font-family: 'Quicksand', sans-serif;
	color: #604878;
	font-style: italic; 
	font-weight: bold;
	font-size: 13px;
	text-align: center; 
	text-shadow: none;
	margin-top: -15px;
}

.list-group-item {
	background-color: #002266;
	border-color: #001a4d;
}

.button {
	display: inline;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #301860;
	background-color: #483078;
	color: white; 
	text-align: center; 
	font-size: 15px; 
	font-family: 'Quicksand', sans-serif;
	font-weight: bold; 
	box-shadow: 0px 3px 4px #222;
	padding: 10px; 
	cursor: pointer; 
	margin: 10px;
}

.button:active {
	background-color: #301860;
}

.button:hover span { 
	transition: 0.5s; 
	text-shadow: 0px 0px 4px #eee;
}

.button:not(:hover) span {
	transition: 0.5s;
	text-shadow:none;
}

.button:hover span:after {
	transition: 0.5s;
}