body {
	background-color: #001848;
	padding-right: 50px; 
	padding-top: 50px;
	padding-left: 50px;
	padding-bottom: 50px;
	margin-right: 50px;
}

h1 {
	font-family: 'Sanchez', serif; 
	color: #604878;
	text-align: center; 
	font-weight: bold; 
	font-size: 48px; 
	text-shadow: 0px 0px 5px #906090;
}

p {
	font-family: 'Quicksand', sans-serif;
	color: white; 
}

button {
	display: inline;
}